/**
 * FlexEmbed component
 *
 * Makes an embed responsive, based on its intrinsic ratio.
 *
 * Based on SUIT FlexEmbed: https://github.com/suitcss/components-flex-embed/
 */
.fluidcontentyoutube-FlexEmbed {
	position: relative;
	overflow: hidden;
	display: block;
}

.fluidcontentyoutube-FlexEmbed:before {
	content: "";
	display: block;
	width: 100%;
}

.fluidcontentyoutube-FlexEmbed--16by9:before {
	padding-bottom: 56.25%;
}

.fluidcontentyoutube-FlexEmbed-item {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}
