{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form id="youtube" label="YouTube">
		<flux:field.input name="url" required="1" />
	</flux:form>
</f:section>

<f:section name="Preview">
	<p>YouTube URL: {url}</p>
</f:section>

<f:section name="Main">
	<f:comment>
		Here we get the YouTube video ID from the URL, using a regex found here:
		http://stackoverflow.com/a/6121972/796152
		This should be improved and moved to a custom ViewHelper etc.
	</f:comment>
	<v:var.set name="videoId"><v:iterator.first haystack="{v:format.regularExpression(pattern: '#(?<=v=)[a-zA-Z0-9-]+(?=&)|(?<=v\/)[^&\n]+(?=\?)|(?<=v=)[^&\n]+|(?<=youtu.be/)[^&\n]+#', replacement: 0, return: 1, subject: url)}"/></v:var.set>

	<iframe width="{settings.width}" height="{settings.height}" src="//www.youtube-nocookie.com/embed/{videoId}?rel=0" frameborder="0" allowfullscreen></iframe>
</f:section>
