{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}

<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form id="youtube" icon="{f:uri.resource(path: 'Icons/icon-youtube.png')}">
		<flux:field.input name="url" required="1" />
	</flux:form>
</f:section>

<f:section name="Preview">
	<p>YouTube URL: {url}</p>
</f:section>

<f:section name="Main">
	<div class="fluidcontentyoutube-FlexEmbed fluidcontentyoutube-FlexEmbed--16by9">
		<iframe class="fluidcontentyoutube-FlexEmbed-item" width="{settings.width}" height="{settings.height}" src="//www.youtube-nocookie.com/embed/{videoId}?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>

	<v:asset.style path="{f:uri.resource(path: 'CSS/style.css')}" group="fluidcontentyoutube" name="style" />
</f:section>
